<!DOCTYPE html>
<html>
<head>
	<title>Consultar Docente</title>
    <link rel="stylesheet" type="text/css" href="consultar-docente.component.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
	<style type="text/css">

	body{
		background-size: cover; 
		background-position: center center;
		background-attachment: fixed;
	}
	</style>
</head>
    <body >
	
        <header>
            <div style="align-items: center;">
                <div class="logo">CONSULTAR DOCENTE</div>
                <hr>
            </div>
        </header>

        <div>
            <br>
            <!-- <center>
               <div class="box">
                <p># DE DOCUMENTO</p>
               </div>    
                <select>
                    <option selected value="0">Semestre a Consultar</option>
                </select>
            </center> -->

            <div class="titulo">
                <input type="text" placeholder="# DE DOCUMENTO">

                <select>
                    <option selected value="0">SEMESTRE A CONSULTAR</option>
                    <option  value="1">PRIMER SEMESTRE</option>
                    <option  value="2">SEGUNDO SEMESTRE</option>
                </select>
            </div>
        </div>

        <br>

        <table style="text-align: center; margin: 0 auto; width: 60%; height: 150px;" >
            <tr>
                <th rowspan="2" class="color" ><p>#</p></th>
                <th rowspan="2" class="color" >FASE INICIAL 50%</th>
                <th colspan="2" class=" color">Fecha de Aplicacion</th>
                <th class="color"></th>
            </tr>

            <tr>
                <th class="color">Puntaje Maximo</th>
                <th class="color">Valor</th>
                <th class="color">OBSERVACIONES</th>
            </tr>    

            <th>1</th>

                <td class="justificar">El curso se enmarca en la plantilla institucional</td>

                <td style="color: brown;">10</td>

                <td>10</td>

                <td></td>
            <tr>
                <th>2</th>

                <td class="justificar">Publica un anuncio de bienvenida al curso</td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>   
            </tr>
    
            <tr>
    
                <th align="ceneter">3</th>

                <td class="justificar">Escanea la diligencia en el formato DO-FR 66</td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>
    
            </tr>
    
            <tr>
    
                <th center >4</th>
    
                <td class="justificar">El vinculo perfil del tutor se encuentra disponible para </td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>
    
            </tr>
    
            <tr>
    
                <th>5</th>
    
                <td class="justificar">El vinculo de vision general del curso donde se evidencia</td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>
    
            </tr>
    
            <tr>
    
                <th>6</th>
    
                <td class="justificar">Publica los recursos de aprendizaje</td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>
    
            </tr>
    
            <tr>
    
                <th>7</th>
    
                <td class="justificar">El docente utiliza alguna herramienta en el aula </td>
                <td style="color: red;">10</td>
                <td>10</td>
                <td></td>
    
            </tr>
    
            <tr>
    
                <td>TOTAL</td>
                <td>70</td>
                <td>70</td>
                <td bgcolor="#A3D952">100,0%</td>
    
            </tr>

            <tr>
            
                <th colspan="2" rowspan="2" class="color" >FASE FINAL 50%</th>
                <th colspan="2" class=" color">Fecha de Aplicacion</th>
                <th class="color"></th>
            </tr>

            <tr>
                <th class="color">Puntaje Maximo</th>
                <th class="color">Valor</th>
                <th class="color">OBSERVACIONES</th>
            </tr> 

            <tr>
    
                <th>8</th>
    
                <td class="justificar">Utiliza Herramientas del aula virtual para establecer</td>
    
                <td style="color: red;">10</td>
    
                <td></td>
    
                <td></td>
    
            </tr>
    
            <tr>
    
                <th>9</th>
    
                <td class="justificar">Registro de notas en el sistema CLASS(5 dias habiles luego) </td>
    
                <td style="color: red;">20</td>
    
                <td></td>
    
                <td></td>
    
            </tr>
    
            <tr>
    
                <td>TOTAL</td>
                <td>30</td>
                <td>0</td>
                <td bgcolor="red">0,0%</td>
    
            </tr>
            
        </table>    

        <div>
            <img src="images/uni.jpg" alt="uni" width="300" height="200">
        </div>

    </body>
</html>