CalificacionesDocente/.vs/
CalificacionesDocente/Datos/bin/
CalificacionesDocente/Datos/obj/
CalificacionesDocente/Modelo/bin/
CalificacionesDocente/Modelo/obj/
CalificacionesDocente/Servicios/bin/
CalificacionesDocente/Servicios/obj/
CalificacionesDocente/WebApi/bin/
CalificacionesDocente/WebApi/obj/
