 <title>Datos Docente</title>
  <link rel="stylesheet" type="text/css" href="datos-docente.component.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
  <style type="text/css"> 
  body
  {
		background-size: cover; 
		background-position: center center;
		background-attachment: fixed;
	}
	</style>
<body>
	<header>
    <div class="wrapper">
        <div class="logo">
        <h1>DATOS DOCENTE</h1> 
        </div>
        <hr>
    </div>
  </header>
<div style="align-items: center;">
  <form [formGroup]="formDatos" (submit)="send()" class="form-inline">
      <div class="form-group mx-sm-3">
              <label for="inputDoc" class="sr-only">Documento</label>
              <input class="form-control is-valid" type="number" class="form-control" id="inputDoc" placeholder="Documento" formControlName="documento">
      </div>

      <div class="form-group mx-sm-3">
            <label for="inputUser" class="sr-only">Nombre</label>
            <input class="form-control is-valid" type="text" minlength="4" maxlength="8" size="17" class="form-control" id="inputUser" placeholder="Nombre" formControlName="nombre">
      </div>

      <div class="form-group mx-sm-3">
            <label for="inputEmail" class="sr-only">Correo</label>
            <input class="form-control is-valid" type="email"  class="form-control" id="inputEmail" placeholder="Correo"formControlName="correo">
      </div>

      <div class="form-group mx-sm-3">
            <label for="inputTel" class="sr-only">Telefono</label>
            <input class="form-control is-valid" type="number" class="form-control" id="inputTel" placeholder="Telefono" formControlName="telefono">
      </div>
</form>
</div>
<br>
<div>
      <span class="btn btn-success fileinput-button">
           <input type = file>
      </span>
</div>
   
          <br>
      <div>
          <script type="text/javascript">
            function ConfirmDemo() {
            //Ingresamos un mensaje a mostrar
            var mensaje = confirm("Se Han Cargado Los Datos Del Docente ¿Deseas Continuar?");
            //Detectamos si el usuario acepto el mensaje
            if (mensaje) {
            alert("¡Docente Guardado!");
            }
            //Detectamos si el usuario denegó el mensaje
            else {
            alert("¡Haz Denegado Los Datos Del Docente!");
            }
            }
            </script>
            
              <span>
                <input [disabled]="formDatos.invalid" type="submit" class="btn btn-primary" value="GUARDAR" onclick="ConfirmDemo()" />
              </span>
  
      </div>
      <img src="logo.png" style="align-items: left;"> 
     
  </body>

