
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.component.css">
    <title>LOGIN</title>
</head>
<body>
    
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 my-1 ">
            <div class="col m-5 formulario">
                <form action="">
                    <div class="titulo">
                <div class="form-group text-center pt-5">
                     <h1 class="text-light">SISTEMA DE CALIFICACION</h1>
                </div>
                    </div>
                      <div class="usuario">
                   <div class="form-group mx-sm-5 ">
                       <input type="text " class="form-control" placeholder="Ingresar Usuario">
                  </div>
                    </div>
                    <div class="contraseña">
                       <div class="form-group mx-sm-5 pt-3 pb-3">
                          <input type="text " class="form-control" placeholder="Ingresar Contraseña">
                       </div>
                           </div>
                               <div class="boton">
                          <div class="form-group mx-sm-5 pb-3">
                              <input type="submit" class="btn btn-block ingresar" value="INGRESAR">
                           </div>
                               </div>
                           <div class="form-group mx-sm-4 pb-4 text.right">
                               <span class=""><a href="#" class="registrarme">REGISTRARME</a></span>
                           </div>
                              <div class="form-group mx-sm-4 text.right">
                              <span class=""><a href="#" class="olvide">OLVIDE MI CONTRASEÑA</a></span>
                               </div>

</body>
</html>